{% extends 'accounts/main.html' %}


{% block content %}


<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center"><strong>Customer: {{customer.name}}</strong></div>
                <div class="card-body">
                    <button class="btn btn-block btn-info">Update Customer</button>
                    <button class="btn btn-block btn-primary">Delete Customer</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header text-center"><strong>Contact Information</strong></div>
                <div class="card-body">
                    <label>Email: {{customer.email}}</label>
                    <br>
                    <label>Phone: {{customer.phone}}</label>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header text-center"><strong>Total Orders</strong></div>
                <div class="card-body" id="customer-total-orders">
                    {{customer_orders}}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    <button class="btn btn-info">Search</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.product}}</td>
                        <td>{{order.product.category}}</td>
                        <td>{{order.product.date_created}}</td>
                        <td>{{order.status}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                        <td><a class="btn btn-sm btn-primary" href="{% url 'delete_order' order.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}


