<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card status status1">
                <div class="card-header text-center">
                    <h4>
                        Total Orders
                    </h4>
                </div>
                <div class="card-body status-content">
                    {{total_orders}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card status status2">
                <div class="card-header text-center">
                    <h4>
                        Orders Delivered
                    </h4>
                </div>
                <div class="card-body  status-content">
                    {{orders_delivered}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card status status3">
                <div class="card-header text-center">
                    <h4>
                        Orders Pending
                    </h4>
                </div>
                <div class="card-body status-content">
                    {{orders_pending}}
                </div>
            </div>
        </div>
    </div>
</div>