{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}


<div class="container">
    <h1>PROFILE</h1>

    <div class="row">
        <div class="col">
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.product}}</td>
                        <td>{{order.product.category}}</td>
                        <td>{{order.product.date_created}}</td>
                        <td>{{order.status}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}