.status1 {
    background:linear-gradient(to bottom, #a7c8eb, #9bd2ff);
}
.status2 {
    background:linear-gradient(to bottom, #93bce8, #7fb6e2);
}
.status3 {
    background:linear-gradient(to bottom, #8ab6e4, #56aef7);
}

.status .status-content {
    font-size: 30px;
    text-align: center;
}

#customer-total-orders {
    font-size: 30px;
    text-align: center;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;

    background: rgba(34, 35, 38, 0.57);
    text-align: center;
}

footer > p {
    color: rgb(228, 226, 226);
    margin: 15px auto;
}

.container {
    margin: 30px auto;
}

.register-form-container {
    margin: 100px 500px;

}

.form-group input {
    width:100%;
    outline: 0px !important;
    border: 0px !important;
}


.message {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    background: #4f5d6a;
    color: white;
    height: 40px;
    font-weight: 700;
    margin-bottom: -20px;
}

#welcome-msg {
    margin-right: 10px;
    font-weight: 700;
    color: white;
}

#logout {
    color: #ccc;
    text-decoration: none;
}