.status {
    background:linear-gradient( #ccc, #22a2ca);
}

.status .status-content {
    font-size: 30px;
    text-align: center;
}

#customer-total-orders {
    font-size: 30px;
    text-align: center;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;

    background: rgba(34, 35, 38, 0.57);
    text-align: center;
}

footer > p {
    color: rgb(228, 226, 226);
    margin: 15px auto;
}

.container {
    margin: 30px auto;
}
